* {
    margin: 0;
}

/*Navbar - mostly covered on Bootstrap*/

.navbar {
    position: sticky;
    overflow: hidden;
    top: 0;
    z-index: 2;
}

.navbar-nav .nav-item a {
    color: #ffffff;
}

/*Main Content*/

/*Opening header and paragraph*/

.main-content-container,
.main-content-charts {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-content-charts {
    margin: 20px 0;
}


.main-content {
    margin: 0px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.opening-image {
    background-image: url("../images/main-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    color: #ffffff;
    min-height: 300px;
}

.main-image-shade {
    background-color: rgb(30, 30, 30, 0.6);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opening-text-container {
    width: 90%;
}

.opening-intro {
    width: 100%;
    margin: 10px 0;
}

.intro-heading {
    font-size: 30px;
}

/*Main content and statistics on site*/

/*Heading and intro text to the different charts*/

.chart-toggle-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
}

.main-content-charts {
    display: flex;
    justify-content: center;
    align-content: center;
}

.info-container {
    width: 90%;
}

.section-intro {
    width: 100%;
    margin: 20px 0;
}

.section-heading {
    font-size: 25px;
    font-weight: 500;
}

.section-paragraph {
    margin-bottom: 0;
}

/*The individual charts*/

.price-chart,
.sales-chart {
    display: none;
}

.chart-intro {
    width: 100%;
    margin: 20px 0;
}

.chart-header {
    font-size: 20px;
}

.chart-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map {
    width: 100%;
    height: 500px;
    margin: 10px 0 20px 0;
}

.chart-container {
    display: flex;
    justify-content: center;
}

.chart-area {
    display: flex;
    justify-content: center;
}

#house-sales-bar-chart,
#average-house-price-bar-chart,
#house-sales-over-time,
#house-prices-over-time {
    width: 100%;
    margin: 5px 0;
    max-width: 900px;
    overflow-x: scroll;
}

/*Footer areas*/

/*Footer top areas for about section and contact form*/

.footer-area {
    width: 100%;
    background-color: #343A40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-top {
    width: 90%;
    color: #ffffff;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-left,
.footer-right {
    width: 100%;
}

.footer-top div div h2 {
    font-size: 1.25rem;
    font-weight: 400;
}

.footer-top div div p {
    font-weight: 300;
}
    
.contact-section {
}

.footer-input-text-box {
    width: 100%;
    background-color: #1B1E21;
    border: 0px;
    height: 40px;
    padding: 0 10px;
    color: #ffffff;
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    border: 1.5px solid #727F8C;
    font-size: 20px;
    height: 50px;
    font-weight: 400;
    margin: 10px 0;
}

/*Social media links*/

.footer-bottom {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.social-links {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.social {
    margin: 0 10px;
}

.social-links li a {
    text-decoration: none;
}

.social-links li a i {
    font-size: 30px;
    display: flex;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    color: #343A40;
}

.social-links li a i:hover {
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    color: #1B1E21;
}

/*Larger screen sizes*/

@media (min-width: 768px) {
    
    .chart-toggle-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 10px 0 20px 0;
    }
    
    .chart-toggle-buttons button {
        margin: 0 20px;
    }
    
    .section-intro {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .smaller-charts {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
        
    .footer-top {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    
    .footer-left,
    .footer-right {
        width: 45%;
    }
    
    .btn {
        max-width: 350px;
    }
}

@media (min-width: 992px) {

    #map {
        max-width: 950px;
    }
    
    #house-sales-bar-chart,
    #average-house-price-bar-chart,
    #house-sales-over-time,
    #house-prices-over-time {
        overflow-x: hidden;
    }

}

@media (min-width: 1224px) {
    
    .opening-text-container,
    .section-intro,
    .chart-intro,
    .footer-top {
        width: 90%;
    }
    
}
