* {
    margin: 0;
}

/*Navbar - mostly covered on Bootstrap*/

.navbar {
    position: sticky;
    overflow: hidden;
    top: 0;
    z-index: 2;
}

.navbar-nav .nav-item a {
    color: #ffffff;
}

/*Main Content*/

/*Opening header and paragraph*/

.main-content-container,
.main-content-charts {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-content-charts {
    margin: 20px 0;
}

.main-content {
    margin: 0px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.opening-image {
    background-image: url("../images/main-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    color: #ffffff;
    min-height: 300px;
}

.main-image-shade {
    background-color: rgb(30, 30, 30, 0.6);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opening-text-container {
    width: 90%;
}

.opening-intro {
    width: 100%;
    max-width: 1200px;
    margin: 10px 0;
}

.intro-heading {
    font-size: 35px;
}

/*Main content and statistics on site*/

/*Heading and intro text to the different charts*/

.chart-toggle-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content-charts {
    display: flex;
    justify-content: center;
    align-content: center;
}

.info-container {
    width: 90%;
}

.site-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-intro {
    width: 100%;
    margin: 20px 0;
}

.section-heading {
    font-size: 30px;
    font-weight: 500;
}

#map {
    width: 100%;
    height: 500px;
    margin: 10px 0 20px 0;
}

/*Buttons for price and sales reveals*/

#price-button {
    background-color: #7D0CE8;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border: 0;
}

#sales-button {
    background-color: #FF0000;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border: 0;
}

#hide-button {
    background-color: #343A40;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border: 0;
}

#price-button:hover {
    transition-property: background-color;
    background-color: #5808A3;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

#sales-button:hover {
    transition-property: background-color;
    background-color: #BF0000;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

#hide-button:hover {
    transition-property: background-color;
    background-color: #23272B;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

/*The individual charts*/

/*Different sections to be revealed depending on which button is pressed by the user.*/

#price-section-title {
    display: none;
}

#price-section-title.active {
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-top: 20px;
    background-color: #7D0CE8;
}

#sales-section-title {
    display: none;
}

#sales-section-title.active {
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-top: 20px;
    background-color: #FF0000;
}

#price-section-title h2,
#sales-section-title h2 {
    margin: 0;
}

/*Chart section format*/

.price-charts,
.sales-charts {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0 0 0;
}

.chart-header {
    font-size: 25px;
}

.chart-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-intro {
    width: 100%;
    margin: 20px 0;
}

.price-charts,
.sales-charts {
    display: none;
}

.price-charts.active,
.sales-charts.active {
    display: flex;
    flex-flow: wrap;
}

#house-sales-bar-chart,
#house-type-pie-chart,
#average-house-price-bar-chart,
#house-type-price-bar-chart,
#house-sales-over-time,
#house-prices-over-time {
    width: 100%;
    margin: 20px 0;
    max-width: 850px;
    overflow-x: scroll;
}

#house-type-price-bar-chart,
#house-type-pie-chart {
    display: flex;
    justify-content: center;
}

/*Targeting the individual text elements in the bar charts */

#house-sales-bar-chart .x.axis text,
#average-house-price-bar-chart .x.axis text,
#house-type-price-bar-chart .x.axis text {
    transform: rotate(-25deg);
}

/*Footer areas*/

/*Footer top areas for about section and contact form*/

.footer-area {
    width: 100%;
    background-color: #343A40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-top {
    width: 90%;
    color: #ffffff;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-left,
.footer-right {
    width: 100%;
}

.footer-top div div h2 {
    font-size: 1.25rem;
    font-weight: 400;
}

.footer-top div div p {
    font-weight: 300;
}

.footer-input-text-box {
    width: 100%;
    background-color: #1B1E21;
    border: 0px;
    height: 40px;
    padding: 0 10px;
    color: #ffffff;
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    border: 1.5px solid #727F8C;
    font-size: 20px;
    height: 50px;
    font-weight: 400;
    margin: 10px 0;
}

/*Social media links*/

.footer-bottom {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.social-links {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.social {
    margin: 0 10px;
}

.social-links li a {
    text-decoration: none;
}

.social-links li a i {
    font-size: 30px;
    display: flex;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    color: #343A40;
}

.social-links li a i:hover {
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    color: #1B1E21;
}

/*Larger screen sizes*/
/*Tablet screens*/

@media (min-width: 768px) {
    
    .chart-toggle-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    
    .chart-toggle-buttons button {
        margin: 20px 20px;
    }
    
    .section-intro {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .smaller-charts {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    #house-sales-bar-chart,
    #house-type-pie-chart,
    #average-house-price-bar-chart,
    #house-type-price-bar-chart,
    #house-sales-over-time,
    #house-prices-over-time {
        width: 100%;
        margin: 5px 0;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }
        
    .footer-top {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    
    .footer-left,
    .footer-right {
        width: 45%;
    }
    
    .btn {
        max-width: 350px;
    }
}

/*Laptop screens*/

@media (min-width: 992px) {
    
    /*Stops map from getting wider on the larger screens*/
    
    #map {
        max-width: 950px;
    }
    
    /*Change widths of charts alowing the linked charts to go side by side on larger screens*/
    
    /*City and type price charts*/
    
    #average-house-price-bar-chart {
        width: 65%;
    }
    
    #house-type-price-bar-chart {
        width: 35%;
    }
    
    /*City and type sales charts*/
    
    #house-sales-bar-chart {
        width: 65%;
    }
    
    #house-type-pie-chart {
        width: 35%;
    }
    
}

/*Larger screens*/

@media (min-width: 1224px) {
    
    /*Smaller widths to contain content*/
    
    .opening-text-container,
    .section-intro,
    .sales-charts,
    .price-charts,
    .footer-top {
        max-width: 1200px;
    }
    
}
